# Dependencies
node_modules/
npm-debug.log*

# Environment variables
.env
client/.env
# Uploads folder
server/uploads/*
!server/uploads/.gitkeep

# Build files
build/
dist/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Firebase
server/firebase-service-account.json